<button type="button" [class]="color()">
    @if (primaryImage(); as primaryImageData) {
        @if (primaryImageData) {
            <img
                class="primary"
                [ngSrc]="primaryImageData.src"
                [alt]="primaryImageData.alt"
                [width]="primaryImageData.width"
                [height]="primaryImageData.height"
            />
        }
    }
    @if (secondaryImage(); as secondaryImageData) {
        @if (secondaryImageData) {
            <img
                class="secondary"
                [ngSrc]="secondaryImageData.src"
                [alt]="secondaryImageData.alt"
                [width]="secondaryImageData.width"
                [height]="secondaryImageData.height"
            />
        }
    }
    <h6>{{ text() }}</h6>
</button>
