<div class="input" [formGroup]="formGroup()" xmlns="http://www.w3.org/1999/html">
    @if (image(); as imageData) {
        @if (imageData) {
            <img
                    [ngSrc]="imageData.src"
                    [alt]="imageData.alt"
                    [width]="imageData.width"
                    [height]="imageData.height"
            />
        }
    }
    <div class="label-input">
        <label [for]="controlName()" class="bold">{{ label() }}</label>
        <textarea [id]="controlName()" type="text" [formControlName]="controlName()" cols="30" rows="10"></textarea>
    </div>
</div>
