<div class="container">
    @if (leftSidebar) {
        <section id="sidebar-left">
            <div class="sidebar-left-header">
                <a routerLink="/">
                    <img ngSrc="app/assets/svg/logo.svg" width="48" height="64" alt="logo" />
                </a>
                <img
                    class="hide-left"
                    ngSrc="app/assets/svg/hide-left.svg"
                    width="64"
                    height="64"
                    alt="hide-left"
                    (click)="setLeftSidebar(false)"
                />
            </div>
            <file-button
                text="Upload file"
                color="primary"
                [primaryImage]="{
                    src: 'app/assets/svg/import.svg',
                    alt: 'import',
                    height: 32,
                    width: 24,
                }"
                [secondaryImage]="{
                    src: 'app/assets/svg/import-primary.svg',
                    alt: 'import',
                    height: 32,
                    width: 24,
                }"
                routerLink="/file/upload"
            ></file-button>
            <search-bar
                    placeholder="Search for file"
                    [(value)]="searchInput"
                    (valueChange)="searchFileMetaData()"
            ></search-bar>
            <div class="file-list">
                @if (fileMetaDataList$ | async; as fileMetaDataList) {
                    @for (
                        fileMetaDataListItem of fileMetaDataList;
                        track fileMetaDataListItem.fileToken
                    ) {
                        @if (fileMetaData$ | async; as fileMetaData) {
                            <file-list-item
                                [fileMetaData]="fileMetaDataListItem"
                                [isSelected]="
                                    fileMetaData.fileToken === fileMetaDataListItem.fileToken
                                "
                            ></file-list-item>
                        } @else {
                            <file-list-item
                                [fileMetaData]="fileMetaDataListItem"
                                [isSelected]="false"
                            ></file-list-item>
                        }
                    }
                } @else {
                    <p class="warning">No files available!</p>
                }
            </div>
        </section>
    }
    <section id="content">
        <div class="content-selector">
            <div>
                @if (!leftSidebar) {
                    <img
                        class="show-left"
                        ngSrc="app/assets/svg/show-left.svg"
                        width="64"
                        height="64"
                        alt="show-left"
                        (click)="setLeftSidebar(true)"
                    />
                }
                @if (fileMetaData$ | async) {
                    <div class="content-selector-buttons">
                        <small-file-button
                            text="Pdf"
                            (click)="mainContentMode = 'pdf'"
                        ></small-file-button>
                        <small-file-button
                            text="Text"
                            (click)="mainContentMode = 'text'"
                        ></small-file-button>
                        <small-file-button
                            text="Summary"
                            (click)="mainContentMode = 'summary'"
                        ></small-file-button>
                    </div>
                }
            </div>
            @if (!rightSidebar) {
                <img
                    class="show-right"
                    ngSrc="app/assets/svg/show-right.svg"
                    width="64"
                    height="64"
                    alt="show-right"
                    (click)="setRightSidebar(true)"
                />
            }
        </div>
        <div class="content-container">
            @if (fileMetaData$ | async; as fileMetaData) {
                @switch (mainContentMode) {
                    @case ('pdf') {
                        <pdf-viewer
                            [src]="{
                                url: `${environment.paperlessRestUrl}/api/files/${fileMetaData.fileToken}/download`,
                                httpHeaders: {
                                    Authorization: `Bearer ${jwtToken}`,
                                },
                            }"
                            [render-text]="false"
                            [original-size]="false"
                            [zoom-scale]="'page-width'"
                            [show-borders]="true"
                            [zoom]="0.75"
                        ></pdf-viewer>
                    }
                    @case ('text') {
                        @if (fileMetaData.fullText) {
                            <p class="full-text">{{ fileMetaData.fullText }}</p>
                        } @else {
                            <p class="warning">Full text not available!</p>
                        }
                    }
                    @case ('summary') {
                        @if (fileMetaData.summary) {
                            <p class="summary">{{ fileMetaData.summary }}</p>
                        } @else {
                            <p class="warning">Summary not available!</p>
                        }
                    }
                }
            } @else {
                <p class="warning">No file selected!</p>
            }
        </div>
    </section>
    @if (rightSidebar) {
        <section id="sidebar-right">
            <div class="sidebar-right-header">
                <img
                    class="hide-right"
                    ngSrc="app/assets/svg/hide-right.svg"
                    width="64"
                    height="64"
                    alt="hide-right"
                    (click)="setRightSidebar(false)"
                />
                <login-menu></login-menu>
            </div>
            @if (fileMetaData$ | async; as fileMetaData) {
                <div class="file-information">
                    <div class="description-container">
                        <h6>Description</h6>
                        @if (fileMetaData.description) {
                            <p>{{ fileMetaData.description }}</p>
                        } @else {
                            <p>No description</p>
                        }
                    </div>
                    <div class="file-size-container">
                        <h6>File size</h6>
                        <p>{{ fileMetaData.fileSize | fileSize }}</p>
                    </div>
                    <div class="upload-date-container">
                        <h6>Upload date</h6>
                        <p>{{ fileMetaData.creationDate | date: 'dd.MM.yyyy HH:mm' }}</p>
                    </div>
                </div>
                <div class="action-buttons">
                    <file-button
                        text="Update file"
                        color="secondary"
                        [primaryImage]="{
                            src: 'app/assets/svg/update.svg',
                            alt: 'update',
                            height: 32,
                            width: 41,
                        }"
                        [secondaryImage]="{
                            src: 'app/assets/svg/update-secondary.svg',
                            alt: 'update',
                            height: 32,
                            width: 41,
                        }"
                        [routerLink]="['/file/update', fileMetaData.fileToken]"
                    ></file-button>
                    <file-button
                        text="Delete file"
                        color="error"
                        [primaryImage]="{
                            src: 'app/assets/svg/delete.svg',
                            alt: 'delete',
                            height: 32,
                            width: 28,
                        }"
                        [secondaryImage]="{
                            src: 'app/assets/svg/delete-error.svg',
                            alt: 'delete',
                            height: 32,
                            width: 28,
                        }"
                        (click)="deleteFile(fileMetaData.fileToken)"
                    ></file-button>
                </div>
            } @else {
                <p class="warning">No file selected!</p>
            }
        </section>
    }
</div>
