.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

img.show-left:hover,
img.show-right:hover,
img.hide-left:hover,
img.hide-right:hover {
    cursor: pointer;
}

/* sidebar left */
section#sidebar-left {
    width: 512px;
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

div.sidebar-left-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* file list */
div.file-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: scroll;
}

div.file-list > p {
    text-align: center;
}

/* content */
section#content {
    flex: 1;
    height: 100%;
}

img.show-left {
    position: absolute;
    left: 32px;
    top: 32px;
}

pdf-viewer {
    width: 100%;
    height: 100%;
}

img.show-right {
    position: absolute;
    right: 32px;
    top: 32px;
}

/* sidebar right */
section#sidebar-right {
    width: 512px;
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* file information */
div.file-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.file-information h6 {
    margin-bottom: 4px;
}

/* action buttons */
div.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
