.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

img.show-left:hover,
img.show-right:hover,
img.hide-left:hover,
img.hide-right:hover {
    cursor: pointer;
}

/* sidebar left */
section#sidebar-left {
    width: 512px;
    padding: 32px 0 32px 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

div.sidebar-left-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* file list */
div.file-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: scroll;
}

/* content */
section#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 48px;
}

div.content-selector {
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
}

div.content-selector > div {
    display: flex;
    gap: 32px;
}

div.content-selector-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

section#content div.content-container {
    flex: 1;
    overflow: scroll;
}

pdf-viewer {
    width: 100%;
    height: 100%;
}

p.full-text {
    white-space: pre-line;
    padding-bottom: 32px;
}

/* sidebar right */
section#sidebar-right {
    width: 512px;
    padding: 32px 48px 32px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

div.sidebar-right-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section#sidebar-right p.unselected {
    text-align: center;
}

/* file information */
div.file-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.file-information h6 {
    margin-bottom: 4px;
}

/* action buttons */
div.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

p.warning {
    text-align: center;
}
