<div class="container">
    <section id="upload-file-hero">
        <a routerLink="/">
            <img ngSrc="app/assets/svg/logo.svg" width="48" height="64" alt="logo" />
        </a>
        <h1>Upload a file!</h1>
    </section>
    <section id="upload-file-form">
        @if (errorMessage) {
            <error-message [text]="errorMessage"></error-message>
        }
        <form [formGroup]="fileForm">
            <file-input
                label="Upload file"
                [formGroup]="fileForm"
                controlName="file"
                [image]="{
                    src: 'app/assets/svg/import-grey.svg',
                    alt: 'import',
                    width: 24,
                    height: 32,
                }"
                (change)="onFileSelected($event)"
            ></file-input>
            <textarea-input
                label="Description"
                [formGroup]="fileForm"
                controlName="description"
                [image]="{
                    src: 'app/assets/svg/pencil.svg',
                    alt: 'pencil',
                    width: 32,
                    height: 32,
                }"
            ></textarea-input>
        </form>
        <file-button
            text="Upload file"
            color="primary"
            (click)="handleSubmit()"
            [primaryImage]="{
                src: 'app/assets/svg/plus.svg',
                alt: 'plus',
                height: 32,
                width: 32,
            }"
            [secondaryImage]="{
                src: 'app/assets/svg/plus-primary.svg',
                alt: 'plus',
                height: 32,
                width: 32,
            }"
        ></file-button>
    </section>
</div>
