<div class="container">
    <section id="upload-file-hero">
        <a routerLink="/">
            <img ngSrc="app/assets/svg/logo.svg" width="48" height="64" alt="logo" />
        </a>
        <h1>Upload a file!</h1>
    </section>
    <section id="upload-file-form">
        @if (errorMessage) {
            <error-message [text]="errorMessage"></error-message>
        }
        <form>
            <div class="file-input">
                <img ngSrc="app/assets/svg/import-grey.svg" alt="import" width="24" height="32" />
                <div class="label-input">
                    <label for="file-upload" class="bold">Upload file</label>
                    <input id="file-upload" type="file" />
                </div>
            </div>
            <text-input
                label="Description"
                [formGroup]="fileForm"
                controlName="description"
                [image]="{
                    src: 'app/assets/svg/pencil.svg',
                    alt: 'pencil',
                    width: 32,
                    height: 32,
                }"
            ></text-input>
        </form>
        <file-button
            text="Upload file"
            color="primary"
            [primaryImage]="{
                src: 'app/assets/svg/plus.svg',
                alt: 'plus',
                height: 32,
                width: 32,
            }"
            [secondaryImage]="{
                src: 'app/assets/svg/plus-primary.svg',
                alt: 'plus',
                height: 32,
                width: 32,
            }"
        ></file-button>
    </section>
</div>
