/* file list item */
a.file-list-item {
    padding: 32px;
    border-radius: 8px;
    display: block;
}

a.unselected {
    border: 1px solid var(--black25);
}

a.selected {
    border: 3px solid var(--primary);
}

a.file-list-item h5 {
    margin-bottom: 8px;
}
